.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color:aqua;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(7,86,128),rgb(59, 31, 116));
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:20px;
}/*fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #1e0743;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(231, 231, 239);
    color:#141313;
}/*fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*fechamento linha*/

.operadores{
    background-color: rgb(39, 11, 91);
    color: rgb(193, 191, 197);
    border: 2px solid;
}/*fechamentos operadores*/

.outros{
    background-color: rgb(39, 11, 91);
    color:rgb(193, 191, 197);
    border: 2px solid #ccc;
}/*fechamento outros*/

button{
    font-size: 3rem;
    width: 60px;
    height: 60px;
}
